body {
    font-family: 'Oxygen', sans-serif;
}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.title {
    font-size: 100px;
    color: #610505;
    font-family: "ESL Legend", sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 10px 0;
}


.s-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'ESL Legend', sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.category a{
    margin: 0 1em;
    text-decoration: none;
}

.category a:hover {
    color: #f00;
}

h2, .category a{
    font-size: 2em;
    color: #610505;
    padding: 0;
}

.s-info {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s-info-container {
    width: 70vw;
    display: block;
    padding: none;
}

h4 {
    padding: 3px 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 5px 0;
}

.subtitle-text {
    text-align: left;
    padding: 0 5em;
    width: 65%;
    align-self: center;
}

.video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info {
    margin-right: 10px;
    // width: 45vw;
}

.video-player {
    // width:45vw;
}

.video iframe {
    width:100%;
    aspect-ratio: 16/9;
}

.video p {
    padding-right: 10px;
    margin-right: 10px;
}

.caption {
    font-style:italic;
    font-size: smaller;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.img-info {
    width: 55%;
    padding: 0;
}

.img-container {
    width:40%;
}

.right {
    padding-right: 10px;
    margin-right: 30px;
}

.small-img {
    width: calc(100% - 350px)
}

.section {
    padding-top: 30px;
    margin-top: 20px;
}

ul li {
    padding: 15px;
}

ol li {
    padding: 8px;
}

@media only screen and (max-width: 979px) {
    .video-player {
        width:auto;
    }    

    .info {
        width: auto;
    }

    .img-info {
        width: 100%;
    }

    .img-container {
        // flex: 0;
        width: 100%;
    }

    .small-img {
        width: auto;
    }
}