body {
  font-family: "Oxygen", sans-serif;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 100px;
  color: #610505;
  font-family: "ESL Legend", sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 10px 0;
}

.s-container {
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "ESL Legend", sans-serif;
  font-size: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 60vw;
  align-self: center;
  flex-wrap: wrap;
}

.category a {
  width: 40%;
  margin: 10px;
  text-decoration: none;
  aspect-ratio: 1;
  border: 1px solid black;
  color: #610505;
  font-size: 2em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.category p {
  background-color: #fff;
  bottom: 0px;
}

.category a:hover {
  color: #f00;
}

h2 {
  font-size: 2em;
  color: #610505;
  padding: 0;
}

.s-info {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.s-info-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: none;
}

.info-text {
  margin-bottom: 2em;
}

h4 {
  padding: 3px 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 5px 0;
}

.subtitle-text {
  text-align: left;
  padding: 0 5em;
  width: 50%;
  align-self: center;
}

.video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info {
  margin-right: 10px;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.video p {
  padding-right: 10px;
  margin-right: 10px;
}

.caption {
  font-style: italic;
  font-size: smaller;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.img-info {
  width: 55%;
  padding: 0;
}

.img-container {
  width: 40%;
}

.right {
  padding-right: 10px;
  margin-right: 30px;
}

.small-img {
  width: calc(100% - 350px);
}

.smaller-img {
  width: calc(100% - 340px);
}

.section {
  padding-top: 30px;
  margin-top: 20px;
}

ul li {
  padding: 15px;
}

ol li {
  padding: 8px;
}

.media {
  background-image: url("../assets/jfvcposter.jpeg");
  background-size: cover;
}

.media:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/jfvcposter.jpeg");
}

.coalition {
  background-image: url("../assets/vcremembrance.jpeg");
  background-size: cover;
}

.coalition:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/vcremembrance.jpeg");
}

.legal {
  background-image: url("../assets/protestors.jpeg");
  background-size: cover;
}

.legal:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/protestors.jpeg");
}

.solidarity {
  background-image: url("../assets/revjjackson.jpeg");
  background-size: cover;
}

.solidarity:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/revjjackson.jpeg");
}

@media only screen and (max-width: 979px) {
  .video-player {
    width: auto;
  }
  .info {
    width: auto;
  }
  .img-info {
    width: 100%;
  }
  .img-container {
    width: 100%;
  }
  .small-img {
    width: auto;
  }
  .s-info-container {
    width: 80vw;
  }
}/*# sourceMappingURL=strategies.css.map */